<ion-modal-view>
      
        <ion-content id="" class="padding row row-center">
     
      <div class="row" style="padding:0;">

       <div class="row" style="padding:0;"> 
        <div id="profile-bg" class="col">

              <img class="avatar" src="{{contact.face}}">
              <h2>{{contact.name}}</h2>
              <p>"Fortuna vitrea est; tum cum splendet, fru..."</p>
        </div>  
      </div>



      </div>


         <div class="row" style="  padding: 10px;   background: #fff;">  
        <div class="col col-50">
          <button class="button button-outline richiesta">
         INVIA RICHIESTA
        </button>
        </div>

        <div class="col col-50">
          <button class="button button-outline annulla" ng-click="closeModal(2)">
         ANNULLA
        </button>
        </div>

       </div>

        </ion-content>


   </ion-modal-view>