
<ion-view view-title="">
 <tab-slide-box class="has-header">
            <div class="tsb-icons gradient-background" >
              <div class="tsb-ic-wrp">
              <ion-scroll direction="x" class="tsb-hscroll">
              <a href="javascript:;" class="ion-home1">Vicine</a>
              <a href="javascript:;" class="ion-ios-game-controller-b1">Preferite</a>
              <a href="javascript:;" class="ion-email1">Recenti</a>
          
              </ion-scroll>
            </div>
            </div>
              <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                  <ion-slide>
                      <h1>Chat Vicine</h1>
                  </ion-slide>
                  <ion-slide>
                      <h1>Chat Preferite</h1>
                  </ion-slide>
                  <ion-slide>
                     <h1>Chat Recenti</h1>
                  </ion-slide>
       
  
              </ion-slide-box>
            </tab-slide-box>
 </ion-view>