<ion-nav-bar id="home-nav" class="gradient-background" hide-back-button="false">
      

      <ion-nav-buttons side="left" class="">
        <button class="button button-icon button-clear ion-navicon"  menu-toggle="left">
        </button>
        Menu
      </ion-nav-buttons>
    
      <img class="center-logo" src="img/logo.png" style="">
      
       <ion-nav-buttons side="right">
       
       <button class="button button-icon button-clear ion-android-search" ng-click="search()"> 
        </button>
        <button class="button button-icon button-clear ion-android-people" menu-toggle="right" >
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

<ion-view view-title="" class="has-header">

 
              <ion-slide-box show-pager="false" ion-slide-tabs>
                   <ion-slide ion-slide-tab-label="Vicino a me">
                   <div class="button-bar">
                  <a class="button"  ng-class="{'active' : data.activeButton == 0}" ng-click="activateButton(0)">Tutte</a>
                  <a class="button"  ng-class="{'active' : data.activeButton == 1}" ng-click="activateButton(1)">Persone</a>
                  <a class="button"  ng-class="{'active' : data.activeButton == 2}" ng-click="activateButton(2)">Locali</a>
                </div>
                  <ion-content class="padding" style="top: 50px !important;">
                  
                  <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
                  </ion-refresher>
                        <ion-list style="padding-top:40px;" can-swipe="true">
                     <ion-item ng-repeat="item in aroundMe | filter : data.filter track by item.counter " class="contact-item ink" style="padding:0" can-swipe="true" ng-last-repeat="mylist">             
                      
                        <a class="item item-avatar" ng-click="goToProfile(item.type, item.nome, item.id)">
                             <img ng-src="{{item.face}}" style="max-width:60px; max-height:60px; left: 0px">
                             <h2 style="color:#fff; font-family: Roboto; font-size:20px;">{{item.nome}} - <span style="color:#00A099; font-size: 16px; ">{{item.likes}} <i class="icon ion-android-favorite" ></i></span></h2>
                            <p style="color:#9C9B9B"><i class="icon ion-{{item.icon}}" style="color:#00A099"></i> {{item.distanza}}m</p>
                          
                          </a>
                           
                    </ion-item>
                  </ion-list>
                  </ion-content>
                  </ion-slide>
                   <!-- <ion-slide ion-slide-tab-label="Preferite">
                    <ion-content class="padding">    
                        <ion-list>
                    <ion-item ng-repeat="chat in chats_recenti" ng-click="goToProfile(chat.type)" class="contact-item " style="padding:0" >
                      
                        <a class="item item-avatar" href="#">
                             <img ng-src="img/home/avatar.png" style="max-width:60px; max-height:60px; left: 0px">
                             <h2 style="color:#fff; font-family: Roboto; font-size:20px;">{{chat.name}}</h2>
                            <p style="color:#9C9B9B">{{chat.last_chat}}</p>
                          </a>

                    </ion-item>
                  </ion-list>
                </ion-content>
                  </ion-slide>
 -->
                   <ion-slide ion-slide-tab-label="Chat Recenti">
                     <ion-content class="padding"> 
                        <ion-list>
                     <ion-item ng-repeat="chat in chats_recenti" ng-click="chatWithHim(chat.id)" class="contact-item ink" style="padding:0" >
                      
                      
                        <a class="item item-avatar" href="#">
                                <img ng-src="{{chat.face}}" style="max-width:60px; max-height:60px; left: 0px">
                             <h2 style="color:#fff; font-family: Roboto; font-size:20px;">{{chat.name}}</h2>
                            <p style="color:#9C9B9B">{{chat.last_chat}}</p>
                          </a>

                    </ion-item>
                  </ion-list>
                  </ion-content>
                  </ion-slide>
       
  
              </ion-slide-box>
   
 </ion-view>