<ion-nav-bar id="home-nav" class="gradient-background" hide-back-button="false">
      

      <ion-nav-buttons side="left" class="">
        <button class="button button-icon button-clear ion-navicon"  menu-toggle="left">
        </button>
      </ion-nav-buttons>
    
    
   
       <ion-nav-buttons side="right">
       <button class="button button-icon button-clear ion-android-search" >
        </button>
        <button class="button button-icon button-clear ion-android-people" menu-toggle="right" >
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

<ion-view view-title="" class="has-header">

              <ion-slide-box show-pager="false" ion-slide-tabs>
                   <ion-slide ion-slide-tab-label="Vicine">
                  <ion-content class="padding">
                        <ion-list style="padding-top:40px;">
                     <ion-item ng-repeat="chat in chats_recenti" href="#/app/chat/{{chat.id}}" class="contact-item " style="padding:0">
                      
                      
                        <a class="item item-avatar" ng-click="goToProfile(chat.type)">
                             <img ng-src="img/home/avatar.png" style="max-width:60px; max-height:60px; left: 0px">
                             <h2 style="color:#fff; font-family: Roboto; font-size:20px;">{{chat.name}}</h2>
                            <p style="color:#9C9B9B">{{chat.last_chat}}</p>
                          </a>

                    </ion-item>
                  </ion-list>
                  </ion-content>
                  </ion-slide>
                   <ion-slide ion-slide-tab-label="Preferite">
                    <ion-content class="padding">    
                        <ion-list>
                    <ion-item ng-repeat="chat in chats_recenti" ng-click="goToProfile(chat.type)" class="contact-item " style="padding:0">
                      
                        <a class="item item-avatar" href="#">
                             <img ng-src="img/home/avatar.png" style="max-width:60px; max-height:60px; left: 0px">
                             <h2 style="color:#fff; font-family: Roboto; font-size:20px;">{{chat.name}}</h2>
                            <p style="color:#9C9B9B">{{chat.last_chat}}</p>
                          </a>

                    </ion-item>
                  </ion-list>
                </ion-content>
                  </ion-slide>

                   <ion-slide ion-slide-tab-label="Recenti">
                     <ion-content class="padding"> 
                        <ion-list>
                     <ion-item ng-repeat="chat in chats_recenti" ng-click="goToProfile(chat.type)" class="contact-item " style="padding:0">
                      
                      
                        <a class="item item-avatar" href="#">
                                <img ng-src="img/home/avatar.png" style="max-width:60px; max-height:60px; left: 0px">
                             <h2 style="color:#fff; font-family: Roboto; font-size:20px;">{{chat.name}}</h2>
                            <p style="color:#9C9B9B">{{chat.last_chat}}</p>
                          </a>

                    </ion-item>
                  </ion-list>
                  </ion-content>
                  </ion-slide>
       
  
              </ion-slide-box>
            
 </ion-view>