<ion-view >
  <ion-content style="background:#332F3F; color:#ffff" >
   
      <ion-list>
        <ion-item menu-close class="left-menu-cell">
         <div class="item">
          
            <img src="{{myContact.face}}" style="width:75px; height: auto" ng-click="goToMyProfile()">
    
         </div>
        </ion-item>

        <ion-item menu-close class="left-menu-cell">
         
         <div class="item">
         <a class="button button-icon" ng-click="goTo('app.home')">
           <i class="icon ion-android-home my-icon" ></i>
           <span style="font-size:15px">Home</span>
         </a>
        </div>
        </ion-item>

        <ion-item menu-close class="left-menu-cell">
         
         <div class="item">
         <a class="button button-icon"  ng-click="goTo('app.notifiche')">
           <i class="icon ion-android-notifications my-icon" ></i>
           <span style="font-size:15px">Notifiche</span>
         </a>
        </div>
        </ion-item>

          <ion-item menu-close class="left-menu-cell">
        <div class="item">
         <a class="button button-icon"  ng-click="goTo('app.richieste')">
           <i class="icon ion-android-person-add my-icon" ></i>
           <span style="font-size:15px">Richieste</span>
         </a>
         </div>
         </ion-item>
           <ion-item menu-close class="left-menu-cell">
        <div class="item">
         <a class="button button-icon"  ng-click="goTo('app.eventi')">
           <i class="icon ion-android-calendar my-icon" ></i>
           <span style="font-size:15px">Eventi</span>
         </a>
         </div>
         </ion-item>

          <ion-item menu-close class="left-menu-cell">
        <div class="item">
         <a class="button button-icon"  ng-click="goTo('app.mypages')">
           <i class="icon ion-flag my-icon" ></i>
           <span style="font-size:15px">Pagine</span>
         </a>
         </div>
         </ion-item>

          <ion-item menu-close class="left-menu-cell">
         <div class="item">
         <a class="button button-icon"  ng-click="goTo('app.settings')">
           <i class="icon ion-android-options my-icon" ></i>
           <span style="font-size:15px">Opzioni</span>
         </a>
        </div>
        </ion-item>

        <ion-item menu-close class="left-menu-cell">
         <div class="item">
         <a class="button button-icon" ng-click="logOut()">
           <i class="icon ion-android-exit my-icon" ></i>
           <span style="font-size:15px">Esci</span>
         </a>
         </div>
         </ion-item>
    
    
      </ion-list>
   
  </ion-content>
</ion-view>
