<ion-side-menus enable-menu-with-back-views="true">




      <ion-side-menu side="left" width="120" >
        
         <ion-nav-view name="leftMenu"></ion-nav-view>

  </ion-side-menu>


    <ion-side-menu-content drag-content="false">


    <ion-nav-view name="singleContent"></ion-nav-view>

    
   
  </ion-side-menu-content>




   <ion-side-menu side="right" style="background: #332F3F">
    <ion-header-bar class="bar-stable" style="background: #332F3F">
    
        <div class="bar bar-header item-input-inset" style="width:100%; background: transparent; padding:0; padding-left: 3px; padding-right:3px">
            <label class="item-input-wrapper textbox-search" style="background: #1D1B26; color:#fff">
                <i class="icon ion-android-search placeholder-icon"></i>
                <input type="search" placeholder="Search" style="color: #fff;">
            </label>

        </div>
 
    </ion-header-bar>
    
       <ion-nav-view name="listaContatti"></ion-nav-view>
    
  </ion-side-menu>

</ion-side-menus>
