
<ion-view view-title="" >
<ion-nav-bar class="bar-custom">
   
   <ion-nav-back-button class="bar-custom-color" >
      <i class="ion-ios-arrow-back" style="padding-left:8px"></i>
    </ion-nav-back-button>
      
</ion-nav-bar>



 <ion-content id="profile">

 <div class="row" style="padding:0;">
  <div id="profile-bg" class="col">

  			<img class="avatar" src="img/home/avatar.png">
  			<h2>Fabrizio Bizzarri</h2>
  			<p>"Fortuna vitrea est; tum cum splendet, fru..."</p>

  </div>
</div>

<div class="list padding">
<h2>Informazioni</h2>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-male"></i>
    Maschio, 28 anni
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-pin"></i>
   Vive a Roma

  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-favorite"></i>
   Single
    
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-briefcase"></i>
    Lavora presso Palestra
  </a>

</div>

<div class="list padding" style="background:#DADADA">
<h2>Contatti</h2>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    fabrizio.farina@gmail.com
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-call"></i>
    3405456284

  </a>

</div>


<div class="row padding">
 <h2>Hobby</h2>
</div>

<div id="hobby" class="row padding">
 <div class="col">
 	<ul>
 		<li>Serie Tv</li>
 		<li>Cinema</li>
 		<li>Sport</li>
 		<li>Musica</li>
 		<li>Viaggi</li>
 		<div style="clear:both"></div>
 	</ul> 		
 </div>
</div>

<div class="row padding">
 <h2>Amici</h2>
</div>

<div id="friends" class="row padding">
  <div class="col"><a class="item item-avatar" href="#"><img src="img/home/avatar.png"></a></div>
  <div class="col"><a class="item item-avatar" href="#"><img src="img/home/avatar.png"></a></div>
  <div class="col"><a class="item item-avatar" href="#"><img src="img/home/avatar.png"></a></div>
  <div class="col"><a class="item item-avatar" href="#"><img src="img/home/avatar.png"></a></div>
  <div class="col"><a class="item item-avatar" href="#"><img src="img/home/avatar.png"></a></div>
  <div class="col"><a class="item item-avatar" href="#"><img src="img/home/avatar.png"></a></div>
 </div>

</ion-content>
</ion-view>