<ion-modal-view>
      
        <ion-content id="airmenu" class="padding row row-center">
     

              <div class="tools-button text-center">
            
                    <div class="row"><div class="col"><img src="img/profile/foto.png" ng-click="goTo('app.personalizzaVendor')"><p>PersonAlizza</p></div></div>

                    <div class="row">
                      <div class="col"><img src="img/profile/stat.png" ng-click="goTo('app.statisticheVendor')"><p>Statistiche</p></div>

                      <div class="col" ng-click="closeModal(1)"><img src="img/profile/back.png"></div>

                      <div class="col"><img src="img/profile/com.png" ng-click="goTo('app.nuovaComVendor')"><p>Comunica</p></div>


                    </div>


                 <div class="row">
                      <div class="col"><img src="img/profile/richieste2.png" ng-click="goTo('app.utentiVendor')"><p>Iscritti</p></div>

                     

                      <div class="col"><img src="img/profile/cal.png" ng-click="goTo('app.nuovoEventoVendor')"><p>Nuovo Evento</p></div>


                    </div>

           
              </div>
        </ion-content>


   </ion-modal-view>