.platform-android .bar .title {
    line-height: 54px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px;
}

.gradient-background {

 background-color:#332F3F !important;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#332F3F, endColorstr=#00A099) !important;
 background-image:-moz-linear-gradient(left, #332F3F 0%, #00A099 100%) !important;
 background-image:-webkit-linear-gradient(left, #332F3F 0%, #00A099 100%) !important;
 background-image:-ms-linear-gradient(left, #332F3F 0%, #00A099 100%) !important;
 background-image:linear-gradient(left, #332F3F 0%, #00A099 100%) !important;
 background-image:-o-linear-gradient(left, #332F3F 0%, #00A099 100%) !important;
 background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#332F3F), color-stop(100%,#00A099)) !important;
 color:#fff;

}

.bar {
height: 54px !important;  
}

.bar .title {
    height: 100%;

    }

.bar.bar-header .button + .title {
      line-height: 54px;
}

.bar .button {
    min-height: 54px;
    max-height: 54px;

}

.has-header {
  top:54px !important;
}

ion-nav-bar#home-nav.hide {
display: block !important;  
}

ion-nav-bar#home-nav ion-nav-buttons  .hide {
display: block !important;  
}

.button {
  box-shadow:none;
}


button.ion-android-send.footer-btn{
      box-shadow: none;
}


.button-bar {
      box-shadow: none;
      top: 10px;
    position: absolute;
    z-index: 9999;
    width: 90%;
    left: 5%;
}

.button-bar:nth-child(1) {
    border: 1px solid #00A099;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.button-bar .button {
  color:#00A099;
  background-color: #fff;
  line-height: 36px;
  min-height: 27px;
}

.button-bar a.button.active {
  background:#00A099;
  color:#fff;
}

.button-bar > .button:first-child {
    border-radius: 50px 0px 0px 50px;
}

.button-bar > .button:last-child {
    border-radius: 0px 50px 50px 0px;
}




.button-outline.button-outline {
  border-color: rgba(0, 0, 0, 1);
  width:100%;
  text-align:center;
}

.button-outline.button-outline.richiesta {
  border-color: rgba(0, 160,153, 1);
  color:#00A099;
}


.button-outline.button-outline.annulla {
  border-color: rgba(157,157,156, 1);
  color:#9D9D9C;
}




ion-content#iscritti .item.active, ion-content#iscritti .item.activated,
ion-content#iscritti .item-complex.active .item-content,
ion-content#iscritti .item-complex.activated .item-content,
ion-content#iscritti .item .item-content.active, 
ion-content#iscritti .item .item-content.activated {
  background-color: #fff; }


ion-content#iscritti  .item,
ion-content#iscritti .item-complex .item-content,
ion-content#iscritti .item-radio .item-content {
  background-color: #fff; }


/*MODAL ----------------------------------------------------*/

.modal{
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
  background-color: rgba(0, 0, 0, 0.7);
}

ion-content#airmenu div.scroll{


    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100% !important;


  
}

ion-content#airmenu p {
  color:#fff;
}

ion-content#airmenu .tools-button img{
margin-left: 10px;
margin-right: 10px;
width: 50px; 
height: 50px; 
display:inline-block;
position: relative;
}



.fade-in {
/*  -webkit-transform: scale(0.0);
  transform: scale(0.0);*/
  opacity: 0;
}
.fade-in.ng-enter, .fade-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}
.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
/*  -webkit-transform: scale(1.0);
  transform: scale(1.0);*/
  opacity: 1;
}

.fade-in.ng-leave, .fade-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}



/*LEFT MENU ----------------------------------------------------*/

.my-icon:before, .my-icon {
    font-size: 50px !important;
    display: block !important;
}


.left-menu-cell {
  display: table !important;
  width: 100% !important;
  height: 100% !important;	
  padding:0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid rgba(0,0,0,0.1);
    
}

.left-menu-cell .item{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color:#fff;
  padding:0;
}

.left-menu-cell .item a{ 
 color:#fff;
 padding: 0;
min-height: 80px;
	}


ion-slide ion-content.has-header {
  top:0 !important;
}

ion-slide ion-list div.list {
  padding-bottom: 100px;  
}

ion-slide ion-list div.list .item-complex .item-content {
    padding: 0;

}

/*LISTA AMICI ----------------------------------------------------*/

.item-thumbnail-left, .item-thumbnail-left .item-content {
    padding-top: 15px;
    padding-left: 46px;
    min-height: 50px;
}

.contact-item .item-content {
	border: none !important;
	color:#fff;	
  text-align: left;

}



/*SINGLE CHAT--------------------------*/

bar.bar-custom, bar.bar-custom .bar.bar-positive, .bar-custom .nav-bar-block ion-header-bar {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
    background: none !important;
	}

ion-nav-bar.bar-custom ion-header-bar.bar.bar-header {
    background: none !important;
        height: 84px !important;
}

  .item-avatar h2{
    color:#3C3C3B !important;

}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 72px;
    min-height: 42px;
}

.item-avatar > img  {
    position: absolute;
    top: 8px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



  .bar-custom-color{

		color:#9C9B9B !important;
	}

.bar .button.back-button {
    display: block !important;
    font-size: 30px;
    background:none;
    border-color: transparent !important;
    box-shadow: none;
}


 ion-header-bar.bar.bar-custom-color .title{

    color:#3C3C3B !important;
   
  }


ion-nav-bar.bar-custom .item-avatar h2{
        padding-right: 65px;
    text-align: right;
    font-size: 18px;
    margin-top: 6px;

}

ion-nav-bar.bar-custom .item-avatar > img  {
    left: auto;
    right: 8px;
    top:6px;
    width:auto;
    height: 65px;
    max-width: 75px;
    max-height: 75px;
}

ion-nav-bar.bar-custom  .item-avatar {
    min-height: 72px;
}

textarea {
  height: 34px !important;
  line-height: auto !important;
  font-size:18px;
}


/* PROFILE ----------------------------------------------------*/

ion-content#profile.has-header{
  top: 0 !important;
}

#profile-bg{
    padding:0;
    background: url(../img/profile/bg.jpg) no-repeat center center;
    background-size: cover;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}

#profile-bg h2 , #profile-bg p{
color:#fff;
}

ion-content#profile div.list i.icon, ion-content#profile h2 {
  color:#00A099;
}

ion-content#profile div.row{
  padding-left: 16px;
  padding-right: 16px;
}

ion-content#profile h2 {
  font-weight: 400;
  margin-bottom: 0;
}

ion-content#profile .item {
  font-size:16px;
}

#profile-bg img.avatar{
  width:30%;
  height: auto;
  display: inline-block;
  left:0;
  position:relative;
}


#profile-bg .tools-button img{
margin-left: 10px;
margin-right: 10px;
width: 50px; 
height: 50px; 
display:inline-block;
position: relative;
}


#hobby ul li {
float:left;
padding:4px;

}

#friends a.item-avatar {
      min-height: 72px;
}

#friends a.item-avatar > img {
  left:0px;
}



/* PROFILE VENDOR----------------------------------------------------*/

ion-content#vendor-profile.has-header{
  top: 0 !important;
}

#vendor-profile-bg{
    padding:0;
    background: url(../img/profile/bg-vendor.jpg) no-repeat center center;
    background-size: cover;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}

#vendor-profile-bg h2 , #vendor-profile-bg p{
color:#fff;
}

ion-content#vendor-profile div.list i.icon, ion-content#vendor-profile h2 {
  color:#00A099;
}

#vendor-profile-bg img.avatar{
  width:30%;
  height: auto;
  display: inline-block;
  position: relative;
}

ion-content#vendor-profile button#joinChat {
  background:#00A099;
  color:#fff;
}

ion-content#vendor-profile .tools-button img{
margin-left: 10px;
margin-right: 10px;
width: 50px; 
height: 50px; 
display:inline-block;
position: relative;
}

a.item {
  border:none;
}

#friends a.item-avatar {
      min-height: 72px;
}

#friends a.item-avatar > img {
  left:0px;
}



/* RICHIESTE ----------------------------------------------------*/


ion-content#richieste ion-item  a.item-avatar > img {
  top: 0px;
}

ion-content#richieste ion-item  a.activated{


}

ion-content#richieste ion-item {
border-bottom:1px solid rgba(0,0,0,0.1);

}

ion-content#richieste ion-item span.title{
 color:#00A099;
}

ion-content#richieste ion-item.item-divider{
border-bottom: 0px;
border-color: transparent;
}

ion-content#richieste ion-item div.buttons button:before {
  line-height: 64px;
  font-size:34px;
}

ion-content#richieste ion-item div.buttons button.ion-ios-checkmark-outline,
ion-content#richieste ion-item div.buttons button.ion-ios-checkmark {

color:#00A099;
} 



/* NOTIFICHE ED EVENTI ----------------------------------------------------*/

ion-content#notifiche i.icon, ion-content#eventi i.icon {
    color: #00A099;
}

ion-content#notifiche h2, ion-content#eventi h2 {
     white-space: normal;
}