/* Empty. Add your own CSS if you like */

body {
font-family: 'Roboto';
font-weight: 100;
}

.clerafix {
clear:both;
}

/*-------------- CHAT VIEW --------------------------------- */

.light-grey-bg{
background: #ededed;
}

.item-complex .item-content, .item-radio .item-content {
padding-right:16px;

}

#chat_detail .item { 
background: transparent;
border-color:transparent;
color:#9C9B9B !important;
}

.item p {
white-space: normal;
}


img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 10px;
}

.chat_message {
text-align:left;
background: #fff;
color:#666;
border-radius:5px;
padding:10px;
}

.chat_message small {
color:#BBBBBB;

}

.text-left {
text-align:left !important;
}

.pull-left {
float:left;
margin-left:5px;
}


.text-right {
text-align:right !important;
}

.pull-right {
margin-right:5px;
float:right;
}

ion-header-bar.bar.bar-header {
background:#4abc8f;
box-shadow: none;
}


ion-side-menu ion-header-bar.bar.bar-header .title{

color:#fff !important;
}

ion-header-bar.bar.bar-header .title, ion-header-bar.bar-header .button.button-clear {
  color: #fff;
}

.bar.bar-stable.bar-footer {
  background-image: none;
   background: #fff!important;
}

ion-footer-bar .bar.bar-stable.bar-footer {
background-image:none;
background-color: #fff;
 background: #fff !important;
}

ion-footer-bar.bar.bar-stable {
border-color:transparent;
background: #fff;
}

ion-footer-bar .item-input-wrapper {
background:#fff;
}

ion-footer-bar.bar-stable .button  {
color: #4abc8f !important;
}